@custom-media --small-viewport (max-width: 40em);
@custom-media --medium-viewport (min-width: 40em);

.profile__card-wrap {
  lost-utility: clearfix;
  lost-center: 1170px;
  padding-top: 1em;


.profile__card {
  lost-column: 3/3 0;

  @media (--medium-viewport) {
    lost-column: 4/6 1;
  }

}
.profile__editor {
  lost-column: 3/3 0;

  @media (--medium-viewport) {
    lost-column: 2/6;
  }

}
}
