{
  "env": {
    "api": {
      "presets": ["latest"],
      "plugins": [
        "transform-class-properties",
        ["module-resolver", {
          "root": ["./api/src"]
        }]
      ]
    },
    "development": {
      "presets": ["boldr"],
      "plugins": [
        "react-hot-loader/babel",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    },
    "production": {
      "presets": ["boldr"],
      "plugins": [
        "lodash",
        "transform-flow-strip-types",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    },
    "test": {
      "presets": ["boldr"],
      "plugins": [
        "system-import-transformer",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    }
  }
}
