{
  "env": {
    "api": {
      "presets": [["latest", { "es2015": { "modules": "commonjs" }}]],
      "plugins": [
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-regenerator",
        ["module-resolver", {
          "root": ["./src/api"],
          "alias": {
            "apicore": "./src/api/core",
          }
        }],
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }]
      ]
    },
    "test": {
      "presets": [["latest", { "es2015": { "modules": "commonjs" }}], "react"],
      "plugins": [
        "istanbul",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-function-bind",
        "transform-regenerator",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }],
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "core": "./src/cms/common/core",
            "apicore": "./src/api/core",
            "components": "./src/cms/common/components",
            "state": "./src/cms/common/state",
            "theme": "./src/cms/common/theme",
            "scenes": "./src/cms/common/scenes"
           }
        }]
      ]
    }
  }
}
