{
  "env": {
    "development": {
      "presets": ["boldr"],
      "plugins": [
        "react-hot-loader/babel",
        "system-import-transformer",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    },
    "production": {
      "presets": ["boldr"],
      "plugins": [
        "lodash",
        "transform-flow-strip-types",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    },
    "test": {
      "presets": ["boldr"],
      "plugins": [
        "system-import-transformer",
        ["module-resolver", {
          "root": ["./cms/src"]
        }]
      ]
    }
  }
}
