#### Environment Configuration
.env

#### Logs
*.log
docs/logs
npm-debug.log

## Test Coverage
coverage
.nyc_output
lib-cov

## Webpack
.happypack/**
cms/static/assets/**
cms/static/assets.js
tools/webpack/dlls/vendor.json

#### Editor Stuff
boldr.sublime-project
boldr.sublime-workspace
.idea
.vscode
flow-typed
boldr-api.paw


#### Dist Directories
cms/dist/
api/boldr-api/
.boldrrc.json

#### Runtime data
pids
*.pid
.storybook
stories/

node_modules
