.header {
  background-color: #2A3140;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-align: left;
  align-items: middle;

}
.container {
  margin: 0 auto;
  max-width: 1170px;
}
@media (min-width: 992px) {
  .header.theme-dark {
    /*background-color: transparent;*/
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
    padding-left: 150px;
    padding-right: 150px;
  }
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 991px) {
  .header.is-dropdown-open {
    height: 75px;
  }
}
@media (max-width: 991px) {
  .menu.is-dropdown-open {
    background-color: rgba(255, 255, 255, .97);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
  }
}
.collapse {
  *zoom: 1;
}
.collapse:after {
  clear: both;
}
.collapse:after,
.collapse:before {
  content: "";
  display: table;
}
@media (max-width: 991px) {
  .collapse {
    display: none;
  }
}
@media (min-width: 992px) {
  .collapse {
    float: left;
  }
}
@media (max-width: 991px) {
  .collapse.is-dropdown-open {
    -webkit-overflow-scrolling: touch;
    display: block;
    height: calc(100vh - 75px);
    overflow-y: scroll;
    padding-bottom: 82px;
    padding-top: 10px;
  }
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .navigation {
    float: left;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
  }
}
.navigation,
.buttons-group {
  *zoom: 1;
  position: relative;
}
.navigation:after,
.buttons-group:after {
  clear: both;
}
.navigation:after,
.buttons-group:after,
.navigation:before,
.buttons-group:before {
  content: "";
  display: table;
}
@media (min-width: 992px) {
  .navigation,
  .buttons-group {
    margin-top: 41px;
    margin-bottom: 41px;
  }
}
@media (max-width: 991px) {
  .buttons-group {
    display: none;
  }
}
@media (min-width: 992px) {
  .buttons-group {
    float: right;
  }
}
@media (max-width: 991px) {
  .buttons-group.is-dropdown-open {
    background-color: #fff;
    bottom: 0;
    display: block;
    left: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .buttons-group.is-dropdown-open:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .001) 0%, #fff 100%);
    bottom: 100%;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .buttons-group :global .btn.btn-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2) !important;
    color: #fff !important;
  }
}
@media (max-width: 991px) {
  .buttons-group :global .btn.btn-transparent:hover {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: transparent !important;
  }
}
.buttons-group :global .btn {
  font-size: 11px;
  padding: 8px 18px;
}
.buttons-group :global .btn + .btn {
  margin-left: 18px;
}
.header :global(.container) {
  width: auto;
}
.header :focus {
  outline: none;
}
.header.focusable :focus {
  outline: thin dotted !important;
}
.overflow {
  height: 100%;
  overflow: hidden !important;
  position: fixed;
  width: 100%;
}
