.baseHighlight {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 991px) {
  .baseHighlight {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 992px) {
  .baseHighlight {
    height: 100%;
    float: left;
  }
}
.baseHighlight .content {
  display: block;
  width: 100%;
  margin-top: 20px;
  text-decoration: none;
}
.baseHighlight .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: rgba(0,0,0,0.86) !important;
  margin-top: 0;
  margin-bottom: 5px;
}
.baseHighlight .text {
  margin-bottom: 0;
  color: rgba(0,0,0,0.86);
  font-size: 14px;
  line-height: 1.75;
}
.baseHighlight .link {
  display: block;
  margin-top: 10px;
  line-height: 2;
  color: #0a84ae;
  text-decoration: none;
  font-size: 13px;
}
.baseHighlight .link a.content {
  cursor: pointer;
}
.content:hover .baseHighlight .link {
  color: #053b4e;
}
.content:hover .baseHighlight .link:after {
  transform: translateX(3px);
}
.baseHighlight .link:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  transition: transform 0.2s;
}
.highlight {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991px) {
  .highlight {
    display: none;
  }
}
@media (min-width: 992px) {
  .highlight {
    width: 410px;
    border-left: 1px solid rgba(0,0,0,0.1);
  }
}
.highlight .content {
  position: relative;
  padding-left: 110px;
}
.highlight .content > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: contain;
}

.moreHighlight .content > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #e3e5e7;
}
@media (max-width: 991px) {
  .moreHighlight {
    text-align: center;
    padding: 0;
  }
  .moreHighlight .section-title {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .moreHighlight {
    width: 280px;
    padding-left: 12px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .moreHighlight .content {
    width: 100%;
    text-align: center;
  }
}
.moreHighlight .title {
  font-size: 14px;
  margin-top: 10px;
}
.moreHighlight .time {
  color: rgba(0,0,0,0.86);
  font-size: 12px;
}
.section-title {
  padding-bottom: 10px;
  margin: 12px 0 10px 0;
  font-size: 13px;
  font-weight: 500;
  color: #000 !important;
  border-bottom: 1px solid #e3e5e7;
}
@media (max-width: 991px) {
  .section-title {
    margin-top: 20px;
  }
}
