@custom-media --small-viewport (max-width: 35em);
@custom-media --viewport-min-s (min-width: 30.01em);
@custom-media --medium-viewport (max-width: 48em);
@custom-media --viewport-min-m (min-width: 48.01em);
@custom-media --large-viewport (min-width: 60em);

@lost flexbox flex;

.container {
  lost-center: 1170px;
  @media(--small-viewport) {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.single__post {
  lost-column: 3/4 0;

  @media(--small-viewport) {
    lost-utility: clearfix;
    lost-column: 1/1;
  }
}
