@media (max-width: 991px) {
  .item {
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .item {
    float: left;
  }
}
.item.simple-list {
  position: relative;
}
.link {
  color: currentColor;
  cursor: pointer;
  padding: 15px;
  position: relative;
  text-decoration: none;
}
@media (max-width: 991px) {
  .link {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 15px;
    padding-left: 0;
    padding-top: 15px;
  }
}
@media (min-width: 992px) {
  .link {
    font-size: 14px;
    padding: 20px 15px;
  }
}
@media (max-width: 991px) {
  .item-more .link {
    display: none;
  }
}
.item.is-dropdown-open .link {
  color: #f1f1f1;
}
@media (min-width: 992px) {
  .item.theme-dark .text {
    color: #fff;
    opacity: 0.7;
  }
}
@media (min-width: 992px) {
  .item.is-dropdown-open.theme-dark .text {
    opacity: 1;
  }
}
.item-caret {
  display: none;
}
@media (min-width: 992px) {
  .item-caret {
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
  }
}
.dropdown-caret {
  display: inline-block;
  height: 12px;
  left: 50%;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 37px;
  transform: translateX(-50%);
  transition: margin-top 0.2s;
  width: 20px;
  z-index: 1100;
}
.dropdown-caret:after {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  content: '';
  display: inline-block;
  height: 12px;
  opacity: 0;
  transform: rotate(45deg);
  transition: visibility 0s 0.2s, opacity 0.2s;
  visibility: hidden;
  width: 12px;
}
@media (min-width: 992px) {
  .item.is-dropdown-open .dropdown-caret {
    margin-top: 5px;
  }
  .item.is-dropdown-open .dropdown-caret:after {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
